:root {
  /* Rose Pine Moon by Equil (https://github.com/EquilOne) */
  --base00: #232136; /* base */
  --base01: #2a273f; /* surface */
  --base02: #393552; /* overlay */
  --base03: #6e6a86; /* muted */
  --base04: #908caa; /* subtle */
  --base05: #e0def4; /* text */
  --base06: #e0def4; /* text (lighter variant) */
  --base07: #e0def4; /* text (lightest variant) */
  --base08: #eb6f92; /* love */
  --base09: #f6c177; /* gold */
  --base0A: #c4a7e7; /* iris */
  --base0B: #9ccfd8; /* foam */
  --base0C: #3e8fb0; /* pine */
  --base0D: #9ccfd8; /* foam */
  --base0E: #c4a7e7; /* iris */
  --base0F: #ea9a97; /* rose */

  --tridactyl-fg: var(--base05);
  --tridactyl-bg: var(--base00);
  --tridactyl-url-fg: var(--base08);
  --tridactyl-url-bg: var(--base00);
  --tridactyl-highlight-box-bg: var(--base0B);
  --tridactyl-highlight-box-fg: var(--base00);

  /* Hint character tags */
  --tridactyl-hintspan-fg: var(--base00) !important;
  --tridactyl-hintspan-bg: var(--base0A) !important;

  /* Element Highlights */
  --tridactyl-hint-active-fg: none;
  --tridactyl-hint-active-bg: none;
  --tridactyl-hint-active-outline: none;
  --tridactyl-hint-bg: none;
  --tridactyl-hint-outline: none;
}

#command-line-holder {
  order: 1;
  border: 2px solid var(--base0B);
  color: var(--tridactyl-bg);
}

#tridactyl-input {
  padding: 1rem;
  color: var(--tridactyl-fg);
  width: 90%;
  font-size: 1.5rem;
  line-height: 1.5;
  background: var(--tridactyl-bg);
}

#completions table {
  font-size: 0.8rem;
  font-weight: 200;
  border-spacing: 0;
  table-layout: fixed;
  padding: 1rem;
}

#completions > div {
  max-height: calc(20 * var(--option-height));
  min-height: calc(10 * var(--option-height));
}

/* COMPLETIONS */

#completions {
  --option-height: 1.4em;
  color: var(--tridactyl-fg);
  background: var(--tridactyl-bg);
  display: inline-block;
  font-size: unset;
  font-weight: 200;
  overflow: hidden;
  width: 100%;
  border-top: unset;
  order: 2;
}

#completions .HistoryCompletionSource {
  max-height: unset;
  min-height: unset;
}

#completions .HistoryCompletionSource table {
  width: 100%;
  font-size: 9pt;
  border-spacing: 0;
  table-layout: fixed;
}

#completions .BmarkCompletionSource {
  max-height: unset;
  min-height: unset;
}

#completions table tr td.prefix,
#completions table tr td.privatewindow,
#completions table tr td.container,
#completions table tr td.icon {
  display: none;
}

#completions .BufferCompletionSource table {
  width: unset;
  font-size: unset;
  border-spacing: unset;
  table-layout: unset;
}

#completions table tr .title {
  width: 50%;
}

#completions table tr {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#completions .sectionHeader {
  background: unset;
  font-weight: 200;
  border-bottom: unset;
  padding: 1rem !important;
  padding-left: unset;
  padding-bottom: 0.2rem;
}

#cmdline_iframe {
  position: fixed !important;
  bottom: unset;
  top: 25% !important;
  left: 10% !important;
  z-index: 2147483647 !important;
  width: 80% !important;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px !important;
}

.TridactylStatusIndicator {
  position: fixed !important;
  bottom: 0 !important;
  background: var(--tridactyl-bg) !important;
  border: unset !important;
  border: 1px var(--base0B) solid !important;
  font-size: 12pt !important;
  padding: 0.8ex !important;
}

#completions .focused {
  background: var(--base0B);
  color: var(--base00);
}

#completions .focused .url {
  background: var(--base0B);
  color: var(--base00);
}
